:root {
  --green-dark: #14322d;
  --green-mid: #0c1f1c;
  --green-main: #30684b;
  --gold-light: #dccdae;
  --gold-main: #c19e66;
  --gold-bright: #e5b83b;
  --blue-light: #7bbed7;
  --white: #ffffff;
  --text-dark: #555555;
}
